.MyButton {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(107, 3, 3);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;    
}